@import "../../Style/GlobalScss";

section.headerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  h1.greeting {
    width: 100%;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 2rem;
    position: relative;
    strong {
      color: $green2;
    }
    .version {
      position: absolute;
      left: 50%;
      bottom: -2rem;
      transform: translateX(-50%);
      color: $gray1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
    }
  }
  .viewMoreBtn {
    position: absolute;
    bottom: 1.5rem;
    color: $gray1;
    display: flex;
    flex-direction: column;
    align-items: center;
    strong {
      display: block;
    }
    .iconArrowDown {
      margin-top: 0.3rem;
      font-size: 1.2rem;
    }
    transition: opacity 1s;
    animation: scrollDownToMore 4s infinite ease-in-out;
    @keyframes scrollDownToMore {
      0% {
        opacity: 0;
        transform: translateY(-0.5rem);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(0.5rem);
      }
    }
  }
}
