@import "../../Style/GlobalScss";

section.projectContainer{
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
    position: relative;
    h2.title{
        height: 3rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        color: $green1;
    }
    div.projects{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: calc(100vh - 8rem);
        article{
            width: 90%;
            height: 70%;
            position: relative;
            justify-self: center;
            align-self: center;
            border-radius: 5rem 0 5rem 5rem;
            box-shadow: 0 0 1.5rem #000;
            transition: .5s box-shadow;
            &.watchup{
                background-color: rgba(50, 50, 50, .9);
                &:hover{box-shadow: 0 0 3rem #e6bd0a;}
            }
            &.portfolio{
                background-color: rgba(119, 170, 173, .7);
                &:hover{box-shadow: 0 0 3rem #f7f7f7;}
            }
            &.tada{
                background-color: rgba(235, 240, 243, .7);
                &:hover{box-shadow: 0 0 3rem #8090c4;}
            }
            &.police{
                background-color: rgba(4, 38, 76, .8);
                &:hover{box-shadow: 0 0 3rem #f7f7f7;}
            }
            .link{
                transition: opacity .3s;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 4fr 1fr .6fr 1.2fr 1fr;
                position: relative;
                .clickToDetail{
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    transition: opacity .5s;
                    font-size: 1.5rem;
                    font-style: italic;
                }
                &>span, h3, p, ul{
                    transition: opacity .5s;
                }
                &:hover{
                    .clickToDetail{opacity: 1;}
                    &>span, h3, p, ul{opacity: .02;}
                }
                span.sampleImg{
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
                h3{
                    @extend %flex-right;
                    padding-right: 2rem;
                    img{
                        width: 50%;
                    }
                }
                p.desc{
                    @extend %flex-right;
                    padding-right: 2rem;
                    font-size: .6rem;
                }
                ul.skills{
                    @extend %flex-right;
                    padding-right: 2rem;
                    font-size: .5rem;
                    li{
                        @extend %flex-center;
                        flex-direction: column;
                        &:not(:last-child){
                            margin-left: 1rem;
                        }
                        span{
                            display: block;
                            width: 1.5rem;
                            height: 1.5rem;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            &.html{background-image: url("../../Assets/html.png");}
                            &.css{background-image: url("../../Assets/css.png");}
                            &.js{background-image: url("../../Assets/js.png");}
                            &.scss{background-image: url("../../Assets/scss.png");}
                            &.react{background-image: url("../../Assets/react.png");}
                            &.jquery{background-image: url("../../Assets/jquery.png");}
                            &.zeplin{background-image: url("../../Assets/zeplin.png");}
                        }
                        h5{
                            text-align: center;
                            margin-top: .3rem;
                        }
                    }
                }
                // ul.tags{
                //     @extend %flex-right;
                //     flex-wrap: wrap;
                //     align-items: flex-start;
                //     padding-right: 1.5rem;
                //     padding-left: 2rem;
                //     font-size: .6rem;
                //     font-weight: 400;
                //     li{
                //         border: .1rem solid;
                //         border-radius: .5rem 0 .5rem .5rem;
                //         padding: .3rem .5rem;
                //         margin-left: .3rem;
                //         &.watchupTag{
                //             background-color: #ffffff;
                //             border-color: #404040;
                //             color: #404040;
                //             &::before{content: "#"; color: #404040;}
                //         }
                //         &.portfolioTag{
                //             background-color: #ffffff;
                //             border-color: #404040;
                //             color: #404040;
                //             &::before{content: "#"; color: #404040;}
                //         }
                //         &.tadaTag{
                //             background-color: #ffffff;
                //             border-color: #404040;
                //             color: #404040;
                //             &::before{content: "#"; color: #404040;}
                //         }
                //         &.policeTag{
                //             background-color: #ffffff;
                //             border-color: #404040;
                //             color: #404040;
                //             &::before{content: "#"; color: #404040;}
                //         }
                //     }
                // }

            }
        }
    }
}
.font-gray{
    color: #d6d6d6;
}
.font-white{
    color: #e9e9e9;
}
.font-yellow{
    color: #e6bd0a;
}